body {
}

#main-nav a.active {
    color: green;
    font-size: 20px;
}

#table-modules tr:nth-child(even) {
    background-color: lightgrey
}

#table-modules {
    background-color: whitesmoke;
}

#table-modules thead {
    background-color: green;
    color: whitesmoke;
}

/*input field*/
.mdl-button--file input {
    cursor: pointer;
    height: 80%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
    right: 0;
}

#table-modules th, td {
    font-weight: bold;
    text-align: left;
    padding: 8px;
}

/*#table-modules thead, tbody {*/
/*border: 1px solid black;*/
/*}*/

#table-modules td.status-deployed {
    color: blue;
}

#table-modules td.status-active {
    color: green;
}

/*remove the default space between columns*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#main_body {
    /*background-color: lightblue;*/
    color: #484848;
    margin: 2%;
}

a.mdl-js-ripple-effect {
    position: relative;
}