<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="base(page,fragment,site)">
<head>
    <script src="webjars/material-design-lite/1.3.0/material.min.js"></script>
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../resources/css/main.css"
          th:href="@{/css/main.css}" media="screen"/>
    <title>Runners High</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#main-nav').find('a').click(
                function (event) {
                    event.preventDefault();
                    $('#main-nav').find('a').removeClass('active');
                    var url = $(this).attr('href') + '?ajax=true';
                    $(this).addClass('active');
                    $("#main_body").load(url);
                    history.pushState(null, null, $(this).attr('href'));
                }
            )
        });
    </script>

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Runners High</span>
        <nav id="main-nav" class="mdl-navigation">
            <a id="main-nav-home"
               th:class="'mdl-navigation__link mdl-js-button mdl-js-ripple-effect page-home'+${site=='/home'?' active':''}"
               th:href="@{/home}">Home</a>
            <a id="main-nav-modules"
               th:class="'mdl-navigation__link mdl-js-button mdl-js-ripple-effect page-home'+${site=='/modules'?' active':''}"
               th:href="@{/modules}">Modules</a>
            <a id="main-nav-status"
               th:class="'mdl-navigation__link mdl-js-button mdl-js-ripple-effect page-home'+${site=='/status'?' active':''}"
               th:href="@{/status}">Status</a>
            <a id="main-nav-console"
               th:class="'mdl-navigation__link mdl-js-button mdl-js-ripple-effect page-home'+${site=='/console'?' active':''}"
               th:href="@{/console}">Console</a>
            <a id="main-nav-about"
               th:class="'mdl-navigation__link mdl-js-button mdl-js-ripple-effect page-home'+${site=='/about'?' active':''}"
               th:href="@{/about}">About</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div id="main_body" th:class="'page-'+${page}" th:include="${page} :: ${fragment}"></div>
    </main>
</div>
</body>
</html>