<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="body">
    <h1>Modules</h1>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#moduleJar").change(function () {
                $("#uploadFile").val(this.files[0].name)
            });
        });
    </script>

    <div>
        <table id="table-modules">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>State</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="module: ${modules}">
                <td th:text="${module.getId()}"></td>
                <td th:text="${module.getName()}"></td>
                <td th:text="${module.getState()}"
                    th:class="'status-'+${module.getState().toString().toLowerCase()}"></td>
                <td>
                    <form th:action="@{'/modules/'+${module.getId()}+${module.getState().toString()=='DEPLOYED'?'/start':'/stop'}}"
                          method="post">
                        <button th:style="'background-color: '+${module.getState().toString()=='DEPLOYED'?'green':'lightcoral'}"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                type="submit" name="start"
                                th:text="${module.getState().toString()=='DEPLOYED'?'Start':'Stop'}"></button>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/modules/'+${module.getId()}+'/remove'}" method="post">
                        <button style="background-color: red"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                type="submit" name="remove">Remove
                        </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>#</td>
                <td colspan="4">
                    <form enctype="multipart/form-data" th:action="@{/modules}" method="post">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--file" style="padding: unset">
                            <input class="mdl-textfield__input" placeholder="File" type="text" id="uploadFile"
                                   readonly/>
                            <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file" style="bottom: -10px">
                                <i class="material-icons">attach_file</i><input type="file" id="moduleJar" name="moduleJar">
                            </div>
                        </div>
                        <button style="background-color: green; float: right;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                type="submit">Deploy
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>