<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="base(page,fragment,site)">

<div th:fragment="body">
    <h1>Status</h1>
    <div style="margin-left: 2%">
        <h3>Threads</h3>
        <h6 th:text="'Prozessors: ' + ${processors}"></h6>
        <h6 th:text="'Thread count: ' + ${threads}"></h6>
        <h3>Memory</h3>
        <h6 th:text="'Used Memory: ' + ${usedMemory}+' MB'"></h6>
        <h6 th:text="'Free Memory: ' + ${freeMemory}+' MB'"></h6>
        <h6 th:text="'Total Memory: ' + ${totalMemory}+' MB'"></h6>
        <h6 th:text="'Max Memory: ' + ${maxMemory}+' MB'"></h6>
        <h3>Services</h3>
        <table id="table-modules">
            <thead>
            <tr>
                <th>Module</th>
                <th>Name</th>
                <th>Type</th>
                <th>Singleton</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="service: ${services}">
                <td th:text="${service.getModuleId()>0?service.getModuleId():'BASE'}"></td>
                <td th:text="${service.getName()}"></td>
                <td th:text="${service.getClazz()}"></td>
                <td th:text="${service.isSingleton()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>